/* html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.container-body {
  font-family: Arial, Helvetica, sans-serif;
  /* margin-left: 30%;
  margin-right: 30%; */
  border: 1px solid #000000;
  margin-top: 60px;
  margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
  width: 97%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f5f5f5;
}

hr {
  border: 1px solid #e6e6e6;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

/* .head {
  width: auto;
}

.header-content {
  float: right;
  padding: 20px;
}

.header-content a {
  text-decoration: none;
  color: rgb(19, 18, 18);
  font-weight: bold;
}

.header-content a:hover {
  text-decoration: underline;
  color: rgb(12, 159, 179);
} */

.div-clear {
  clear: both;
}

/* .container {
      width: 800;
      height: auto;
      margin: auto;
  }
  
  .container .container-body {
      padding: 30px;
  } */
